body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 2%;

}

.half-width img {
    width: 80%;
}

.link-button {
    background-image: linear-gradient(salmon, tomato);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {

    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}

.Scond-section img {
    padding: 10%;
    width: 80%;

}

.Scond-section {
    width: 50%;
    padding-right: 5%;
    margin: 50px;

}

.my-resume {
    padding: 10px 20px;
    background-image: linear-gradient(coral, tomato);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}

.ring {
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.last-obj {
    display: flex;
}

.exp {
    text-align: center;
}

.last-baby {
    width: 50%;
    padding: 10px;
    padding-right: 30px;
}

.last-stack {
    width: 50%;
    padding: 10px;
    padding-left: 30px
}

.last-obj {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;

}

.last-stack {
    box-shadow: 10px 15px 30px gray;
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
    border-left: 7px solid tomato;
}

.last-baby {
    box-shadow: 10px 15px 30px gray;
    padding: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
    border-left: 7px solid blue;
}

.last-exper {
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}



p {
    text-align: justify;

}

.hi p {

    text-align: center;
}

footer p {
    text-align: center;
}